<h3>Contact List</h3>
<div ng-repeat="contact in contacts">
	<div class="panel panel-default">
	   <div class="panel-body">
	        <div class="col-xs-3">{{contact.name}}</div>
	        <div class="col-xs-3">{{contact.email}}</div>
	        <div class="col-xs-3">{{contact.phone}}</div>
	        <div class="col-xs-3"><a class="btn btn-info fa fa-pencil" ng-href="#/contacts/edit/{{contact.id}}"></a> <button class="btn btn-danger fa fa-trash-o" ng-click="deleteContact(contact.id)"></button></div>
	    </div>
	</div>
</div>